<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <div class="left">
            <img src="{% static 'img/logo.png' %}" alt="MotoSense Logo">
            <span>MotoSense</span>
        </div>

        <div class="right">
            <a href="">Home</a>
            <a href="{% url 'motor_list' %}">Motores</a>
            <a href="{% url 'sensor_list' %}">Sensores</a>
            <a href="{% url 'sensormotor_list' %}">Sensor/Motor</a>
            <a href="{% url 'dadossensor_list' %}">Dados</a>
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}

    </main>
    <footer>
        Produzido por Equipe MotoSense - Direitos Reservados
    </footer>
</body>
</html>